
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	
}




body  {
	background: rgba(0,0,0,0.7) url(../img/baldeTinta.png);
	  position: relative;
            height: 100%; 
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
            background-attachment: fixed;
			background-blend-mode: darken;
			
}


header {
	background-color: #E2E9F1;

}

#home {
	background: #E2E9F1;
	color: #6E6E6E;
}

.btn-custom {
	color: #E2E9F1;
  background-color: #0C2741
}


.swiper {
   width: 1200px;
   height: 500px;
}


.pulpo {
	
	padding-top: 50px;

} 

footer {
	padding-top: 30px;	
	background: black;
	
}

footer a {
  color: #6E6E6E;
}

footer a:hover{
	color: #0C2741;
}










